/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #676e7d;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #676e7d;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #676e7d;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #676e7d;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input, textarea, input:focus, textarea:focus {
  outline: none;
  padding: 5px;
  color: #676e7d;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	min-height: 100%;
}
body {
	line-height: 1;
	background: #f8f8f8;
	font-family: 'Exo 2', 'Arial', sans-serif;
	font-size: 14px;
}
a, a:hover {
	text-decoration: none;
}
.wrap-header {
	border-bottom: 1px solid #e2e6e7;
	box-shadow: 1px 2px 2px rgba(243,245,246,.9);
	background: #f3f3f3;
	&--bottom {
		background: url(../../images/markup/bg-header-bottom.png) no-repeat;
		background-size: 100% 100%;
		height: 452px;
		padding-top: 10px;
	}
}
.container-fluid, .row {
	margin-left: 0;
	margin-right: 0;
}
.container {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header-top {
	height: 30px;
}
.input-search {
	border: none;
	border-right: 1px solid #cdd5dd;
	border-left: 1px solid #cdd5dd;
	width: 180px;
	height: 32px;
	float: left;
	font-family: 'Exo 2', 'Arial', sans-serif;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}
.wrap-input{
	position: relative;
	width: 180px;
	float: right;
	height: 30px;
	margin-right: 60px;
}
.ico-search {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 12px;
	height: 13px;
	background: url(../../images/markup/ico-search.png) no-repeat;
}
.logo-header {
	height: 75px;
	border-bottom: 1px solid #e2e6e7;
	box-shadow: 1px 4px 2px rgba(243,245,246,.9)
}
.grey-gradient {
	background: #e6e3e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e3e1 1%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e6e3e1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e3e1 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e3e1 1%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e3e1 1%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e3e1 1%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e3e1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
/*bootstrap styles fixed*/
.container-fluid {
	min-width: 1100px;
	max-width: 1600px;
}
/*main styles*/
.top-menu {
	&__list {
		&__item {
			float: left;
			border-right: 1px solid #fff;
			border-left: 1px solid #e1e1e1;
			&:first-child {
				border-left: none;
			}
			&__link {
				font-size: 12px;
				color: #6c6c6c;
				padding: 10px 20px;
				display: block;
				text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
			}
		}
	}
}
.login-menu {
	float: right;
	margin-top: 7px;
	font-size: 12px;
	&__ico {
		width: 16px;
		height: 14px;
		vertical-align: -2px;
		display: inline-block;
		background: url(../../images/markup/ico-login.png) 0px 0px no-repeat;
	}
	&__link {
		color: #177db8;
		padding: 0 2px;
		font-size: 12px;
		border-bottom: 1px dashed #177db8;
		padding-bottom: 2px;
		padding: 0 2px;
		&--enter {
			margin-right: 5px;
		}
	}
}
.logo__link {
	width: 200px;
	display: block;
	padding-top: 13px;
	&__image {
		margin-bottom: 4px;
	}
	&__text {
		text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		color: #625d5d;
	}
	&:hover {
		color: #625d5d;
	}
}
.main-menu {
	float: right;
	padding-top: 20px;
	&__list {
		float: left;
		&--add {
			background: url(../../images/markup/bg-btn-active.png) repeat-x;
		}
		&__link {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			display: block;
			color: #625d5d;
			padding: 10px 30px;
			&--active {
				color: #fff;
				background: url(../../images/markup/ico-plus.png) 10px 10px no-repeat;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
.row-top {
	padding: 10px 0 0 10px;
	color: #fff;
	width: 845px;
	height: 85px;
	background: url(../../images/markup/row-top-bg.png) no-repeat;
	h1 {
		font-weight: 700;
		font-size: 33px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
		margin-bottom: 4px;
	}
	h2 {
		font-size: 18px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	}
}
.row-right {
	position: relative;
	overflow: hidden;
	height: 85px;
	width: 309px;
	margin-left: -60px;
	background: url(../../images/markup/row-top-white-bg.png) no-repeat;
	.slider-list {
		position: relative;
		margin: 0;
		padding: 0;
		height: 85px;
		list-style: none;
		strong {
			display: block;
			font-weight: 900;
			color: #787878;
			font-size: 42px;
			padding: 10px 0 0 36px;
		}
		li {
			position: relative;
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 300px;
			height: 85px;
			text-align: center;
		}
		p {
			font-weight: 300;
			font-size: 12px;
			color: #424242;
			padding: 4px 0 0 44px;
		}
	}
	.control_prev, .control_next {
	  position: absolute;
	  top: 40%;
	  z-index: 999;
	  height: 20px;
	  width: 12px;
	  display: block;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  background: url(../../images/markup/arrows.png) no-repeat;
	}
	.control_prev {
		left: 60px;
	}
	.control_next {
	  background: url(../../images/markup/arrows.png) -18px 0px no-repeat;
		right: 20px;
	}

}
.row-top, .row-right {
	display: inline-block;
	vertical-align: top;
}
.category {
	margin-top: 10px;
	&__header {
		font-weight: 600;
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
		font-size: 24px;
		color: #fff;
	}
	.col-md-7 {
		width: 750px;
		height: 280px;
		padding: 0;
	}
	.col-md-5 {
		width: 325px;
		padding: 0;
		height: 280px;
		margin-left: 10px;
	}
	&__list {
		margin-top: 10px;
		&__item {
			margin: 0 10px 20px 0;
			float: left;
			width: 141px;
			height: 86px;
			background: url(../../images/markup/category-item-bg.png) no-repeat;
			&:nth-child(5n) {
				margin: 0 0 20px 0;
			}
			&__link {
				text-align: center;
				display: block;
				padding-top: 60px;
				color: #4c4c4c;
				&--1 {
					background: url(../../images/markup/sprite-category.png) 40px 4px no-repeat;
				}
				&--2 {
					background: url(../../images/markup/sprite-category.png) -100px 4px no-repeat;
				}
				&--3 {
					background: url(../../images/markup/sprite-category.png) -250px 4px no-repeat;
				}
				&--4 {
					background: url(../../images/markup/sprite-category.png) -410px 4px no-repeat;
				}
				&--5 {
					background: url(../../images/markup/sprite-category.png) -560px 4px no-repeat;
				}
				&--6 {
					background: url(../../images/markup/sprite-category.png) 40px -85px no-repeat;
				}
				&--7 {
					background: url(../../images/markup/sprite-category.png) -100px -85px no-repeat;
				}
				&--8 {
					background: url(../../images/markup/sprite-category.png) -250px -85px no-repeat;
				}
				&--9 {
					background: url(../../images/markup/sprite-category.png) -410px -85px no-repeat;
				}
				&--10 {
					background: url(../../images/markup/sprite-category.png) -560px -85px no-repeat;
				}
				&--11 {
					background: url(../../images/markup/sprite-category.png) 40px -185px no-repeat;
				}
				&--12 {
					background: url(../../images/markup/sprite-category.png) -100px -185px no-repeat;
				}
				&--13 {
					background: url(../../images/markup/sprite-category.png) -250px -185px no-repeat;
				}
				&--14 {
					background: url(../../images/markup/sprite-category.png) -410px -185px no-repeat;
				}
				&--15 {
					background: url(../../images/markup/sprite-category.png) -560px -185px no-repeat;
				}
				&:hover{
					color: #4c4c4c;
				}
			}
		}
	}
}
.service-block {
	width: 327px;
	height: 198px;
	padding-top: 20px;
	margin-top: 10px;
	background: url(../../images/markup/service-text-bg.png) no-repeat;
	&__text {
		margin-bottom: 15px;
		color: #4d4d4d;
		text-align: center;
		padding: 0 10px;
	}
}
.query {
	margin-top: 26px;
	width: 324px;
	height: 73px;
	background: url(../../images/markup/bg-query-btn.png) no-repeat;
	display: block;
	strong {
		text-align: center;
		display: block;
		padding-top: 22px;
		margin-bottom: 2px;
		font-size: 26px;
		font-weight: 600;
		color: #fff;
	}
	span {
		font-size: 12px;
		display: block;
		color: #fff;
		font-weight: 300;
		font-style: italic;
		padding-left: 80px;
	}
}